.carWord {
  color: #3e84e5;
}

.logo {
  width: 80px;
  height: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
  padding: 0 20px;
  box-shadow: 2px 2px 2px;
  height: 100px;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #2979e5;
  color: white;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  width: 90px;
  height: 30px;
}

.left {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top {
  display: flex;
  justify-content: space-around;
  background-color: #b5d4f8;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  margin: 10px;
}

.half1 {
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 350px;
}

.half2 {
  justify-content: center;
  width: auto;
  min-width: 350px;
}

.seat {
  width: 400px;
  height: 200px;
}

.ourServices {
  color: #3e84e5;
}

.middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.icons {
  width: 70px;
  height: 80px;
  padding: 5px;
}

.serviceBoxs {
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  padding: 5px 5px;
  margin: 10px;
}

.boxTitle {
  padding: 10px 0px 20px 0px;
}

.servContents {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 4px;
  align-items: center;
  gap: 20px;
  height: 100px;
  width: 240px;
}

.reviews {
  display: flex;
  border: 1px solid black;
  background-color: #95bcf3;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  margin: 20px;
  padding: 10px 20px 10px 20px;
}

.footer {
  display: flex;
  background-color: #95bcf3;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0 10px;
}

.revBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#revBtn {
  width: 125px;
  height: 30px;
  margin-right: 10px;
}

h2 {
  padding: 0px 15px;
}

.clientPic {
  width: 200px;
  height: 200px;
}

.icon {
  height: 20px;
  width: 25px;
}
